body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

#wrapper {
    width: 960px;
    margin: 0 15px;
    text-align: left;
    background: #efefef;
}

#banner {
    background: url(../images/topbanner.jpg) repeat-x top;
    height: 174px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 15px 0 0 0;
}

.bio {
    float: left;
    margin: 30px 0 0 30px;
}

h2 {
    font-size: 24px;
    color: #666;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.info {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    text-shadow: 1px 1px white;
    list-style: none;
}

.info li {
    margin-bottom: 4px;
}

.info a {
    text-decoration: none;
}

.section {
    background: url(../images/sectionrepeat.jpg) repeat-x bottom;
    padding: 30px 0;
}

h3 {
    position: relative;
    background: #0aaed1;
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    margin: 0;
    width: 340px;
}

.lefthead {
    background: url(../images/h3left.jpg) top left no-repeat;
    width: 14px;
    height: 49px;
    position: absolute;
    top: 0;
    left: -14px;
}

.section p {
    line-height: 20px;
}

.clear {
    clear: both;
}

.experiences .title {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: #333;
    text-shadow: 1px 1px white;
}

.education .title {
    margin: 5px 0 5px 0;
    font-size: 18px;
    font-weight: normal;
    color: #666;
    text-shadow: 1px 1px white;
}

.item {
    margin-top: 30px;
    margin-left: 30px;
}

.date {
    width: 200px;
    padding: 8px;
    margin-right: 25px;
    background: #ddd;
    border: 1px solid #ccc;
    font-size: 11px;
    text-align: center;
    text-shadow: 1px 1px white;
    float: left;
}

a:link, a:visited, a:active {
    color: #666;
}

a:hover {
    color: #333;
}

.skills .item {
    float: left;
    width: 200px;
}

.info .icon-large:before {
    vertical-align: inherit;
    margin-right:8px;
    width:15px;
}