<div class="section education">
    <h3>Formation
        <div class="lefthead"></div>
    </h3>
    {% for diploma in education %}
        <div class="item">
            <div class="title">
                <span class="date">{{ diploma.date }}</span>
                <span>{{ diploma.title }}, {{ diploma.place }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>