<div id="info">
    <p><strong>Email</strong> {{ info.email }}</p>

    <p><strong>GitHub</strong> {{ info.github }}</p>

    <p><strong>LinkedIn</strong> {{ info.linkedin }}</p>

    <div id="contact">
        <span>a conserver ?</span>
    </div>
</div>