<div class="section">
    <h3>My Work
        <div class="lefthead"></div>
    </h3>
    <div class="item">
        <h4>Links to Previous Work</h4>
        <ul>
            <li><a href="http://www.intelligentstudios.co.uk">www.intelligentstudios.co.uk</a> - Freelancing
                website, including limited portfolio.
            </li>
            <li><a href="http://www.freecss.info">www.freecss.info</a> - Website created and written to educate
                people about CSS.
            </li>
            <li><a href="http://www.intrinsicgreatness.com">www.intrinsicgreatness.com</a> - Website created for
                a Sports Psychologist in Edinburgh. Dominic has appeared on national radio through contact made
                on his website.
            </li>
            <li>
                <a href="http://themeforest.net/user/iStudios/portfolio">http://themeforest.net/user/iStudios/portfolio</a>
                - Online template marketplace portfolio.
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>