<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ bio.firstname }} {{ bio.lastname }} -- CV</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/Arial_400-Arial_700.font.js"></script>
</head>

<body>
<div id="wrapper">
    <div id="banner">
        {% include 'bio.twig' %}
        {% include 'info.twig' %}
    </div>

    {% include 'experiences.twig' %}
    {% include 'skills.twig' %}
    {% include 'education.twig' %}
</div>
</body>
</html>