<div class="section skills">
    <h3>Compétences
        <div class="lefthead"></div>
    </h3>
    {% for category in skills %}
        <div class="item">
            <div>{{ category.title }}</div>
            <ul>
                {% for term in category.items %}
                    <li>{{ term }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>